<?xml version="1.0" encoding="UTF-8"?>
<Configuration name="chartmap">
  <Appenders>
    <!-- 'follow' is set to allow System.setOut to capture output for junit test cases -->
    <Console name="Console" target="SYSTEM_OUT" follow="true">
        <PatternLayout pattern="%msg%n"/>
    </Console>
  </Appenders>
  <Loggers> 
    <Root level="info">
        <AppenderRef ref="Console"/>
      </Root>
  </Loggers>
</Configuration>